@charset "utf-8";

/* Text Align */
.justify {text-align:justify;}
.ac{text-align:center !important;}
.ar {text-align:right !important;}
.al {text-align:left !important;}
.at {vertical-align:top !important;}
.am {vertical-align:middle !important;}
.ab {vertical-align:bottom !important;}
.txt_idt{text-indent:-22px;padding-left:22px;}
.no_idt{text-indent:0 !important;;}

/* white-space */
.no-pre{white-space:nowrap !important;}

/* ir_text */
.ir_text{position:absolute;line-height:0;width:0;height:0;visibility:hidden;font-size:0px;overflow:hidden;}
/* Padding */
.pb0{padding-bottom:0 !important;}
.p05 {padding: 5px;}
.pd10{padding:10px;}
.pb05 {padding-bottom:5px;}
.pl0 {padding-left:0 !important;}
.pr0 {padding-right:0 !important;}
.pl05 {padding-left:5px;}
.pr05 {padding-right:5px;}
.pt0 {padding-top:0 !important;}
.pt05 {padding-top:5px;}
.p10 {padding:10px;}
.pb10 {padding-bottom:10px;}
.pl10 {padding-left:10px !important;}
.pr10 {padding-right:10px;}
.pt10 {padding-top:10px;}
.p20 {padding:20px;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px;}
.pl20 {padding-left:20px;}
.pr20 {padding-right:20px;}
.pt20 {padding-top:20px;}
.p30 {padding:30px;}
.pb30{padding-bottom:30px;}
.pl30 {padding-left:30px !important;}
.pl44 {padding-left:44px !important;}
.pr30 {padding-right:30px;}
.pr40 {padding-right:40px;}
.pt30 {padding-top:30px;}
.pt50 {padding-top:50px;}
.p0{padding:0 !important;}
/* Margin */
.mb20{margin-bottom:20px;}
.mb05{margin-bottom:5px;}
.mt10{margin-top:10px;}
.mt05{margin-top:5px;}
.m05 {margin:5px;}
.mb05 {margin-bottom:5px;}
.ml0 {margin-left:0px !important;}
.ml05 {margin-left:5px;}
.mr05 {margin-right:5px;}
.mt05 {margin-top:5px !important;}
.m10 {margin:10px;}
.mb10 {margin-bottom:10px;}
.ml10 {margin-left:10px !important;}
.mr10 {margin-right:10px;}
.mb15 {margin-bottom:15px;}
.ml15 {margin-left:15px;}
.mr15 {margin-right:15px;}
.mt15 {margin-top:15px;}
.m20 {margin:20px;}
.mb20 {margin-bottom:20px;}
.ml20 {margin-left:20px;}
.mr20 {margin-right:20px;}
.mt20 {margin-top: 20px;}
.m30 {margin:30px;}
.mb30 {margin-bottom:30px;}
.ml30 {margin-left:30px;}
.mr30 {margin-right:30px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.ml40 {margin-left:40px;}
.mb40 {margin-bottom:40px;}
.mt45 {margin-top:45px;}
.ml45 {margin-left:45px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt0 {margin-top:0px;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mb0{margin-bottom:0 !important;}
.mt25 {margin-top:25px !important;}
.ml271{margin-left:271px;}
/* Width */
.w5{width:5% !important;}
.w6{width:6% !important;}
.w7{width:7% !important;}
.w8{width:8% !important;}
.w9{width:9% !important;}
.w10{width:10% !important;}
.w11{width:11% !important;}
.w12{width:12% !important;}
.w13{width:13% !important;}
.w14{width:14% !important;}
.w15{width:15% !important;}
.w16{width:16% !important;}
.w17{width:17% !important;}
.w18{width:18% !important;}
.w19{width:19% !important;}
.w20{width:20% !important;}
.w25{width:25% !important;}
.w28{width:28% !important;}
.w30{width:30% !important;}
.w33{width:33% !important;}
.w35{width:35% !important;}
.w37{width:37% !important;}
.w40{width:40% !important;}
.w45{width:45% !important;}
.w50{width:50% !important;}
.w55{width:55% !important;}
.w60{width:60% !important;}
.w65{width:65% !important;}
.w70{width:70% !important;}
.w75{width:75% !important;}
.w80{width:80% !important;}
.w85{width:85% !important;}
.w90{width:90% !important;}
.w95{width:95% !important;}
.w98{width:98% !important;}
.w100{width:100% !important;}
.wx30{width:30px !important;}
.wx35{width:35px !important;}
.wx50{width:50px !important;}
.wx53{width:53px !important;}
.wx55{width:55px !important;}
.wx60{width:60px !important;}
.wx65{width:65px !important;}
.wx70{width:70px !important;}
.wx75{width:75px !important;}
.wx80{width:80px !important;}
.wx88{width:88px !important;}
.wx90{width:90px !important;}
.wx98{width:98px !important;}
.wx100{width:100px !important;}
.wx102{width:102px !important;}
.wx105{width:105px !important;}
.wx110{width:110px !important;}
.wx115{width:115px !important;}
.wx120{width:120px !important;}
.wx125{width:125px !important;}
.wx130{width:130px !important;}
.wx135{width:135px !important;}
.wx140{width:140px !important;}
.wx145{width:145px !important;}
.wx150{width:150px !important;}
.wx160{width:160px !important;}
.wx170{width:170px !important;}
.wx178{width:178px !important;}
.wx180{width:180px !important;}
.wx185{width:185px !important;}
.wx190{width:190px !important;}
.wx200{width:200px !important;}
.wx208{width:208px !important;}
.wx210{width:210px !important;}
.wx215{width:215px !important;}
.wx220{width:220px !important;}
.wx230{width:230px !important;}
.wx232{width:232px !important;}
.wx234{width:234px !important;}
.wx240{width:240px !important;}
.wx250{width:250px !important;}
.wx260{width:260px !important;}
.wx270{width:270px !important;}
.wx275{width:275px !important;}
.wx280{width:280px !important;}
.wx290{width:290px !important;}
.wx300{width:300px !important;}
.wx310{width:310px !important;}
.wx320{width:320px !important;}
.wx330{width:330px !important;}
.wx340{width:340px !important;}
.wx350{width:350px !important;}
.wx360{width:360px !important;}
.wx370{width:370px !important;}
.wx380{width:380px !important;}
.wx390{width:390px !important;}
.wx400{width:400px !important;}
.wx500{width:500px !important;}
.wx525{width:525px !important;}
.wx600{width:600px !important;}
.wx627{width:627px !important;}
.wx700{width:700px !important;}
.wx900{width:900px !important;}
.wx950{width:950px !important;}

/* Height */
.hx60{height:60px !important;}
.hx80{height:80px !important;}
.hx81{height:81px !important;}
.hx100{height:100px !important;}
.hx120{height:120px !important;}
.hx140{height:140px !important;}
.hx200{height:200px !important;}
.hx300{height:300px !important;}


/* After */
.clfix{*zoom:1;}
.clfix:after {content:"";display:block;clear:both;width:0px;height:0px;}

/* Float */
.fl {float:left}
.fr {float:right}
.cl {clear:both}

/* block */
.inblock{display:inline-block;}
.blk{display:block;}

/* Font */
.b_font {font-weight:bold;}
.f12{font-size:12px;}
.f11{font-size:11px;}
.f15{font-size:15px;}

/* Width */

/* Color */
.fc333{color:#333}
.fc222{color:#222;}
.tc_red{color:#c93137 !important;}
.tc_red2{color:#cc374a !important;}
.red_txt{color:#c93137 !important;padding-top:5px;}

/* Border */
.brd_tp{border-top:0 !important;}
.brd_bt{border-bottom:0 !important;}
.brd_tp1px{border-top:1px solid #e4e4e4 !important;}

/* etc */
/*.disabled{position:absolute;width:100%;height:100%;z-index:10;}*/
