@charset "utf-8";

/* 나눔고딕 사용
*****************************************************************************************************************/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(./font/NanumGothic.eot);
  src: url(./font/NanumGothic.eot?#iefix) format('embedded-opentype'),
       url(./font/NanumGothic.woff2) format('woff2'),
       url(./font/NanumGothic.woff) format('woff'),
       url(./font/NanumGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(./font/NanumGothicBold.eot);
  src: url(./font/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
       url(./font/NanumGothicBold.woff2) format('woff2'),
       url(./font/NanumGothicBold.woff) format('woff'),
       url(./font/NanumGothicBold.ttf) format('truetype');
}
