@charset "utf-8";

/* Common */
*{margin:0;padding:0;}
html,body{width:100%;height:100%;font-family:dotum;font-size:11px;}
body {-webkit-text-size-adjust:none;-webkit-print-color-adjust:exact;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare
a,button,select{margin:0;padding:0}
img,fieldset{border:0;}
table{border-collapse:collapse;border-spacing:0}
legend,caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
address,em,th{font-style:normal;font-weight:normal}
ul,ol{list-style:none;margin:0;padding:0;}
li,span {margin:0;padding:0;}
em,address{font-style:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
hr {display: none;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, lead, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font-size:11px;color:#666666;}
body{line-height:120%;}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;color:#333;text-decoration:none;}/*-webkit-tap-highlight-color:transparent;*/
table{border-collapse:separate;border-spacing:0;}
input, select{vertical-align:middle;}
button {border:0 none;padding:0;margin:0;vertical-align:middle;background:transparent;*overflow:visible;cursor:pointer;}
@-moz-document button{padding-top:-2px;}
pre{font-family:'Tahoma',sans-serif;font-size:14px;}
.blind{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}

strong{font-weight:700;}

/* Webkit */
input::-webkit-input-placeholder { font-size:13px;color: #757575; }
/* Firefox 4-18 */
input:-moz-placeholder { font-size:13px;color: #757575; }
/* Firefox 19+ */
input::-moz-placeholder { font-size:13px;color: #757575; }
/* IE10+ */
input:-ms-input-placeholder { font-size:13px;color: #757575; }


/* select */
select{height:25px;font-size:13px;color:#757575;padding:0;border:1px solid #ccc;background:none;}
/* textarea */
textarea {-webkit-appearance:none;width:99%;vertical-align:middle;border-radius:0;border:1px solid #ccc;padding:4px 0;padding-left:10px;line-height:20px;color:#757575;resize:none;}

/* Input */
button {border:0 none;padding:0;margin:0;vertical-align:middle;background:transparent;*overflow:visible;cursor:pointer;padding-top:-1px;}
button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0;margin:0;}/* firefox Margin to prevent */
@-moz-document button{padding-top:-2px;}
input[type=text] {-webkit-appearance:none;background:#fff;height:26px;vertical-align:middle;border-radius:0;width:100%;}
input:focus{outline:#fff solid thin;}
input[type=image], input[type=radio]{border:0;padding:0;}/*input[type=checkbox], */
input[type=checkbox]{display:inline-block;}

/* border */
.bor_no {border:none !important;}


/* input text */
input[type="text"],
input[type="password"] {height:40px;border:1px solid #ccc;text-indent:10px;color:#757575;font-size:11px;box-sizing:border-box;}
input[type="text"]:disabled,
input[type="password"]:disabled {background-color:#ededed;}
/* radio / checkbox */
input[type="checkbox"] {vertical-align: middle;}
input[type="checkbox"] + label {display:inline-block;vertical-align: middle;color:#666666;font-size:12px;}
input[type="checkbox"]:checked + label {color:#333;}
input[type="checkbox"] + label span {display:inline-block;width:18px;height:18px;margin:0 8px 0 0;vertical-align:middle;background:url('../images/common/icon/check_radio_sheet.png') left top no-repeat;cursor:pointer;}
input[type="checkbox"]:checked + label span {background-position:-18px top;}
input[type="checkbox"]:disabled {pointer-events:none;}
input[type="checkbox"]:disabled + label{color:#999;}
input[type="checkbox"]:disabled + label span {background-position:-54px top;}
input[type="checkbox"]:disabled:checked + label{color:#999;font-weight:normal;}
input[type="checkbox"]:disabled:checked + label span{background-position:-71px top;}

input[type="radio"] {display:none;}
input[type="radio"] + label {display:inline-block;color:#f2f2f2;font-size:14px;color:#333;line-height:20px;}
input[type="radio"] + label span {display:inline-block;width:17px;height:18px;margin:0 8px 0 0;vertical-align:middle;background:url('../images/common/icon/check_radio_sheet.png') -89px top no-repeat;cursor:pointer;}
input[type="radio"]:checked + label {color:#000;}
input[type="radio"]:checked + label span {background-position:-106px top;}
input[type="radio"]:disabled + label{color:#999;}
input[type="radio"]:disabled + label span {background-position:-140px top;}
input[type="radio"]:disabled:checked + label span {background-position:-157px top;}

/* input file */
input[type="file"]{display:none;}

/* hightlight none */
input, textarea, button{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;outline:none;}

input-placeholder { font-size:13px;}

/* chart_lastTit */
.chart_lastTit{height:50px;border-bottom:2px solid #333;position:relative;}
.chart_lastTit p{position:absolute;left:0;top:22px;font-size:16px;font-weight:700;color:#333;}

/* 공통 팝업 */
.import_wrap > ul {border-top:2px solid #333;border-bottom:1px solid #ccc;padding-top:10px;}
.import_wrap > ul:after{content:"";display:block;clear:both;width:0px;height:0px;}
.import_wrap > ul > li {background:#f7f7f7;width:49%;float:left;margin-bottom:10px;border:1px solid #ccc;box-sizing:border-box;}
.import_wrap > ul > li:nth-child(even) {margin-left:2%;}
.import_wrap > ul > li > div {margin:10px;position:relative;bottom:0;}
.import_wrap > ul > li > div > .api_info{}
.import_wrap > ul > li > div > .api_info:after{content:"";display:block;clear:both;width:0px;height:0px;}
.import_wrap > ul > li > div > .api_info span{float:left;vertical-align:middle;}
.import_wrap > ul > li > div > .api_info span:first-child{width:230px;text-align:left;font-size:13px;font-weight:700;color:#c93137;}
.import_wrap > ul > li > div > .api_info span > em{width:21px;height:21px;line-height:20px;margin-left:5px;background:#c93137;text-align:center;color:#fff;display:inline-block;border-radius:50%;}
.import_wrap > ul > li > div > .api_info span.info-writer{font-size:12px;color:#757575;padding-right:10px;}
.import_wrap > ul > li > div > .api_info span.api_info-version{font-size:12px;color:#309ba2;padding-left:10px;border-left:1px solid #e7e7e7;}
.import_wrap > ul > li > div > .api_tit{font-size:13px;color:#333;text-align:left;padding-top:10px;line-height:18px;margin-right:85px;}
.import_wrap > ul > li > div > .api_cont{font-size:13px;color:#757575;text-align:left;padding-top:5px;line-height:18px;height:38px;overflow:hidden;}
.import_wrap > ul > li > div > .btn_selected{position:absolute;right:0;bottom:0;}


.pop_alert_wrap {min-width:320px;}
.pop_alert_wrap .ui-dialog-titlebar-close{display:none;}
.pop_alert .alert_txt{text-align:center;font-size:15px;line-height:22px;color:#757575;padding:0 5px 15px;}
